.hero__desc {
  // box-shadow: 1px 1px 10px 1px gray;
  border-radius: 15px;
  padding-left: 20px;
  width: 400px;

  gap: 15px;
  align-items: center;
  height: 350px;
  p {
    position: relative;
  }
  button {
    width: 70%;
    height: 40px;

    border: 0.2px solid gainsboro;
    border-radius: 25px;
    background: linear-gradient(to right, orange, red); /* Başlanğıc rəngi */
    background-size: 200% 100%; /* Gradientin tam ölçüsü */
    animation: btn 1s infinite alternate-reverse;
    transition: all ease 0.5s;
  }

  @keyframes btn {
    0% {
      background-position: 0% 0%; /* Soldan başlanır */
      background: linear-gradient(to right, orange, red);
    }
    50% {
      background-position: 50% 0%; /* Sağa doğru dəyişir */
      background: linear-gradient(
        to right,
        rgb(139, 94, 245),
        rgb(169, 197, 11)
      );
    }
    100% {
      background-position: 100% 0%; /* Sağa doğru dəyişir */
      background: linear-gradient(to right, rgb(76, 0, 255), rgb(222, 247, 82));
    }
  }

  button:hover {
    background: orange;
    color: wheat;
  }

  p::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orange;
    top: 7px;
    left: -15px;
  }
}
.hero__img {
  display: flex;

  width: 80%;
}
@media (max-width: 957px) {
  .tttt {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
