@media (max-width: 625px) {
  .katolog__nav {
    form {
      display: none;
    }
  }
}
@media (max-width: 625px) {
  .katolog__nav {
    form {
      display: none;
    }
    p {
      display: none;
    }
  }
}
